.App {
  /* text-align: center; */
  /* background: url("./assets/slide_bg.jpg") no-repeat center center fixed; */
  /* min-height: 30vh; */
  /* height: 50vh; */
  background-color: #fff;
  padding: 3%;
}

body,
div,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}
